.C2img {
    width: 125px;
    height: 95px;
    border-radius: 3px;
}

.C2div {
    width: 560px;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 15px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.C2smalltitle>h3 {
    margin-top: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.C2smalltitle {
    width: 70%;
    height: 100px;
}

.C2smalltitle>h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.C2smallimg {
    display: flex;
    align-items: center;
}

.source {
    color: #00B1CD;
    font-size: 30px;
    margin-bottom: -12px;
}

.source:hover {
    text-decoration: underline;
    cursor: pointer;
}